<style>
 body {
     background-color: #DADADA;
 }
 body > .grid {
     height: 100%;
 }
 .image {
     margin-top: -100px;
 }
 .column {
     max-width: 450px;
 }
</style>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h1 class="ui teal image header">sign in</h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'ui large form'}) do |f| %>
            <div class="ui stacked segment">
                <div class="field">
                    <%#= f.label :email %><br />
                    <%= f.email_field :email, autocomplete: "off", autofocus: true, class: 'pure-input-1' %>
                </div>
                <div class="field">
                    <%#= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off", class: 'pure-input-1' %>
                </div>

                <%= f.submit "log in", class: 'ui fluid large teal submit button' %>
            </div>

            <% if false and devise_mapping.rememberable? -%>
                <div class="mui-textfield">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                </div>
            <% end -%>
        <% end %>
        <% if alert %>
            <p class="ui error message"><%= alert %></p>
        <% end %>
        <div class="ui message">
            <%= render "devise/shared/links" %>
        </div>
    </div
</div>
