<div class="mui-container">
    <div class="mui-row">
        <div class="mui-col-md-4"></div>
        <div class="mui-col-xs-12 mui-col-md-4">
            <h1 class="mui--text-center">sign in</h1>
            <div class="mui-panel">
                <p class="mui--text-center mui--text-danger"><%= alert %></p>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: ''}) do |f| %>
                    <div class="mui-textfield">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autocomplete: "off", autofocus: true, class: 'pure-input-1' %>
                    </div>

                    <div class="mui-textfield">
                        <%= f.label :password %><br />
                        <%= f.password_field :password, autocomplete: "off", class: 'pure-input-1' %>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                        <div class="mui-textfield">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                        </div>
                    <% end -%>

                    <div class="mui--text-center">
                        <%= f.submit "log in", class: 'mui-btn mui-btn--small mui-btn--primary' %>
                    </div>
                <% end %>
            </div>
            <div class="mui--text-right">
                <%= render "devise/shared/links" %>
            </div>
        </div>
    </div
</div>
