<!DOCTYPE html>
<html>
    <head>
        <title>Eve</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <%- if !devise_controller? %>
            <div class="ui fixed stacked menu">
                <div class="ui container">
                    <%= link_to 'EVE', root_path, class: 'header item' %>
                    <%= render 'shared/main_sidebar' %>
                </div>
            </div>
            <%= yield %>
        <%- else %>
            <%= yield %>
        <%- end %>

    </body>
</html>
